body {
    font-family: Arial;
    text-align: center;
    background: #0f172a;
    color: white;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 10px;
    justify-content: center;
    margin-top: 30px;
}

.cell {
    width: 100px;
    height: 100px;
    background: #1e293b;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    cursor: pointer;
    border-radius: 10px;
}

.cell:hover {
    background: #334155;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background: cyan;
    color: black;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
}